@import "~@taiga-ui/core/styles/taiga-ui-local";

.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
